.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.title {
  margin-bottom: 12px;
  text-align: center;
}

.form {
  display: flex;
  padding: 0 5px;
  margin-bottom: 20px;
}
.input {
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b2b2b266;
  flex: 1;
  font-size: 18px;
}

.button {
  padding: 0;
  width: 40px;
  height: 35px;
  background-color: #abd9ff;
  border-radius: 8px;
  margin-left: 20px;
  border: 2px solid #5da7db;
  font-size: 20px;
  color: #5f6f94;
  cursor: pointer;
}
.button:active {
  background-color: #5da7db;
}
.button:disabled {
  background-color: #a0a0a0;
  border: 2px solid #808080;
  color: #fff;
}
.list {
  overflow-y: scroll;
  flex: 1;
}
.list::-webkit-scrollbar {
  width: 8px;
}
.list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #eff5f5;
  border-radius: 10px;
  padding: 10px;
}

.filtersTitle {
  margin-right: 10px;
}

.filtersButton {
  background: none;
  border: none;
  cursor: pointer;
}

.filterChecked {
  font-weight: 800;
}
