.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  border: 1.5px solid #b2b2b266;
  padding: 8px 10px;
  border-radius: 4px;
}

.itemWrapper {
  display: flex;
}

.check {
  appearance: none;
  border: 1.5px solid #e6e9ed;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.text {
  font-size: 20px;
  color: #000;
  flex: 1;
}

.check:checked {
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #8d9eff;
}

.buttonWrapper {
  display: flex;
  gap: 5px;
  margin-left: 10px;
}

.button {
  width: 40px;
  height: 25px;
  cursor: pointer;
}
